@import "./base.css";
.container {
  max-width: 1400px;
  width: 1400px;
}
input {
  width: 100%;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #222531;
  outline: none;
  background-color: #171924;
  color: #ffffff;
  padding: 0 8px;
  &:focus {
    border-color: rgb(56, 97, 251);
    box-shadow: rgb(56 97 251 / 30%) 0px 0px 0px 4px;
  }
}

button {
    height: 36px;
    background-color: rgb(118, 138, 209);
    color: #ffffff;
    // box-shadow: rgb(56 97 251 / 30%) 0px 0px 0px 4px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: rgb(140, 156, 212);
    }
}
